<!DOCTYPE html>
<html>
<head>
	<title>Local RESTaurant reviews</title>
</head>
	<body>
		<h1>Welcome to RESTaurant reviews</h1>
		 	<ul>
	    	<li><a href="/restaurants">Restaurants</a></li>
	    	<li><a href="/restaurants/new">Add Restaurant</a></li>
	    	<li><a href="/reviews">Restaurant Reviews</a></li>
	    	<li><a href="/reviews/new">Add Restaurant Reviews</a></li>
	   	</ul>

	   	<%= yield %>
	</body>
</html>