<!DOCTYPE html>
<html>
<head>
	<title>Local RESTaurant reviews</title>
</head>
	<body>
		<%= yield %>
		 	
	  <button><a href="/restaurants">View Restaurants</a></button><br>
	  <button><a href="/restaurants/new">Add Restaurant</a></button>
 
	</body>
</html>