<h1>Edit a review</h1>

<!-- Form to edit a restaurant, filled with restaurant element values using value = "" -->

<form action="/restaurants/<%= @restaurant.id %>/reviews/<%= @review.id %>/update" method="POST">
	<input type="hidden" name="_method" value="PUT"> <!-- Method override for post to put -->

	<label for="review_text">Edit Review:</label>
	<textarea name="review_text"></textarea><br><br>

	<input type="submit" name="Submit Edit">
</form><br><br><br>