<!-- Displaying all restaurants -->
<h1>Local Restaurants</h1>

<!-- Iterates through the list of restaurants, returns name, location, opening times. Also contains a link to specific restaurant. -->
<% @restaurants.each do |restaurant| %>
<div>
  <h3><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.restaurant_name %></a></h3>
  <p><%= restaurant.location %></p>
  <p><%= restaurant.opening_times %></p>
</div>
<% end %>