<h1>Create new Restaurant</h1>

<!-- Form to create a restaurant. -->

<form method="POST" action="/restaurants">
	<label for="restaurant_name">Restaurant Name:</label>
	<input type="string" name="restaurant_name"><br>

	<label for="cuisine_type">Type of Cuisine:</label>
	<input type="string" name="cuisine_type"><br>

	<label for="location">Location:</label>
	<input type="string" name="location"><br>

	<label for="post_code">Post Code:</label>
	<input type="string" name="post_code"><br>

	<label for="price">Price rating:</label>
	<input type="string" name="price"><br>

	<label for="opening_times">Opening times:</label>
	<input type="string" name="opening_times"><br><br>

	<input type="submit" name="Submit Entry">
</form><br><br><br>